*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

/* .logo img{
  float:left;
} */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background:black;
  font-family: sans-serif; 
}
.nav_brand {
  text-transform: uppercase;
  color: whitesmoke;
  float: left;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  font-size: 16px;
}
.nav_toggler {
  display: none;
}
.nav_toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav_toggler {
    display: block;
    cursor: pointer;
  }
  .nav_menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav_active {
  transform: translateX(0%);
}
.nav_link{
  color: whitesmoke
}
/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}